html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100%;
  font-family: Archivo;
  font-size: 11pt;
  color: #3d3838;
}

h1,h2 {
  font-weight: bold;
}

a:hover {
  color:#c5c5c5 !important;
}

.carousel-item img {
  max-height: 600px;
  min-width: auto;
}



/* nav bar */
nav {
  background: black;
  top: 0;
  width: 100%;
  transition: all 0.5s;
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding: 8px 16px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex: 0 1 650px;
  justify-content: space-evenly;
}

nav li {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

li.logo {
  max-width: 0;
  overflow: hidden;
  background: white;
  transition: all .5s;
  font-weight: 600;
  font-size: 30px;
}

li.logo a {
  color: black;
}

nav a {
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  color: white;
  transition: all 0.2s;
}

/* nav bar end */

.footer {
  background-color: black;
  color: #f8edeb;
  display: flex;
  justify-content: center;
  padding: 0rem 1rem;
}

.footer .copyright {
  flex: 0 1 800px;
  padding: 1rem;
}

/* carousel */
.carousel-item {
  position: relative !important;
}
.carousel-content {
  position: absolute;
  top: 40%;
  left: 60%;
  transform: translate(0%, -20%);
  z-index: 20;
  color: black;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

#btn-shop-now{
  border-radius: 5%;
  background-color:white;
  padding: 0.5rem 1rem;
}

/* homepage about section */

@media(max-width:768px) {

  .about-right {padding: 2rem 4rem; text-align:center !important ;}
}

.container-about {padding:2rem;}
.about-left {
  display:flex; justify-content: center;
}
.about-left img {width:420px; height:420px; object-fit: cover; border-radius: 50%;}
.about-right {display:flex; align-items: center; text-align: left; padding: 2rem 4rem;
}

.about-text {background-color: #f0f0f0; padding:3rem 2rem;}
.about-text p { font-size: 16;  }

#btn-read-more {
  border-radius: 5%;
  background-color:rgb(255, 255, 255);
  padding:1rem;
}

/* homepage happening now */

.header-container {
  display: flex;
  padding: 1rem;
  justify-content: center;
}

@media(max-width:480px) {
  .event-container {
    display: flex;
    flex-direction: column;
  }

  .event {
    flex: 1 1 auto;
  }
}

.event-container {
  margin: 0rem 2.5rem 2.5rem 2.5rem;
  display: flex;
  justify-content: center;
}

.event {
  flex: 0 1 240px;
  margin: 8px;
  background-color: white;
}

.event img {
  max-width: 100%;
  height: 240px;
  object-fit: cover;
}

.event-text {
  padding: 16px;
  text-align: center;
  display:flex;
  flex-direction:column;
  justify-content: space-evenly;
}

.event-text h4 { color:black; font-size: 20px;}

.slick-prev:before {
  color: black !important;
}

.slick-next:before {
  color: black !important;
}

/* cards */

.cards {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.cards img {
  float: left;
  display: block;
  margin: 10px 15px 10px 0;
  object-fit: cover;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 2px solid black;
  shape-outside: circle(50%);
}

.cards li {
  background-color: #f0f0f0;
  border: 1px dotted #616161;
  margin: 0 0px 20px 0px;
  padding: 8px 16px;
  border-radius: 5px;
  flex: 1 1 480px;
  display: flex;
  align-items: center;

}

/*.cards p {} */

/* cards end */

/* auction view */

.auction-left, .auction-right{
  padding: 2rem 1rem;
}


.bid-header {
  display: flex;
  justify-content: space-between;
  padding: 16px 0px;
}

#bid-amount {display:inline-block; }

.product-info {
  padding: 8px 16px 8px 0;
  background-color:#f0f0f0;
}

.product-info-text {
  padding: 1rem;
}

.form-group.placebid {
  text-align:center;
}

/* auction view end */



/* inventory/store */
.store-container {
  display: flex;
  flex-direction: column;
}

.store-banner {
  height: 180px;
  position: relative;
  text-align: center;

  display: inline-block;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(100%, rgba(0, 0, 0, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
  /* IE6-9 */
}

.store-banner img {
  width: 100%;
  object-fit: cover;
  max-height: 100%;
  position: relative;
  z-index: -1;
  display: block;

}

.store-info {
  position: absolute;
  color: white;
  bottom: 20px;
  left: 4rem;
  text-align: left !important;
  min-width: 50%;
  max-width: 100%;
  z-index: +1;

}

.store-info a {
  color: white;
}

.store-info img {
  float: left;
  display: block;
  margin: 10px 15px 10px 0px;
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 2px solid black;
}

.sort-by {
  display: flex;
  justify-content: flex-end;
  padding: 2rem 4rem 0 4rem;
  ;
  border: 1px solid black;
}


.store-item-container {
  display: grid;
  justify-content: center;
  grid-gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  padding: 4rem;

}

@media(max-width:768px) {
  .store-item-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width:480px) {
  .store-item-container {
    grid-template-columns: 1fr;
  }
}


.store-item {

  background-color: white;
  /* border: 2px dotted black; */

}

.store-item img {
  max-width: 100%;
  object-fit: cover;
}

.item-info {
  padding: 1rem 1rem 0 1rem;
  text-align: center;

}

#item-name { color: black; font-size: 12pt; }
#item-price {color:black;}

.item-btns {
  display: flex;
  justify-content: flex-end;
  margin: 0 4px 4px 0;
}

.store-btns-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

/* ?USER'S PROFILE */
.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-element {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.profile-image.profile-element img {
  border-radius: 50%;
  height:100px;
}

.profile-btn {
  background-color: black;
  color:white;
}

.profile-btn a {
  color:white;
}

/*===== EDIT PROFILE FORM =====*/
.edit-profile-container {
  margin: 0 auto;
  padding: 1rem;
}

.profile-form-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem;
}

/* About Page*/
.about-container {
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
}

@media(max-width:768px) {

  .about-block {flex-direction:column; text-align:center !important ;}
  .about-developers { display: flex !important; flex-direction: column !important;}


  .block-explanation { text-align: center;
  }

  .block-image img {width:100%;}
}

.about__header{
  text-align: center;
}

.about-block {
  
  display: flex;
  justify-content: center;
  padding: 0 2rem;
}

.block-explanation{
  display:flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 4rem;
 
  background-color:#f0f0f0;
  padding: 20px;
  margin: 10px;
}


.block-image {
  padding: 1rem;
  flex: 0 1 2rem;
}

.block-image img { object-fit: cover; max-height:100%; border-radius: 15px 50px 30px;   filter: grayscale(100%);
}

.about-developers{
  display:grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
  padding:2.6rem;
}

.about-developers img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  
}

.developer {
  display:flex;
  flex-direction:column;
  align-items: center;
}


.developer-info h4 {font-weight: bold;}
.developer-info {
  padding: 1rem;
  text-align:center;
}

.form-space, .button-space{
  display: flex;
  justify-content: center;
  padding: 3rem;
}

/* Add Item */
.additem-container{
  text-align: center;
}

/* item detail view / add, edit item */
.item-form-container {
  padding: 1rem;
  margin: 0 auto;
}

.storeform-header {
  text-align: center;
}

/* girl help */
.help-header{
  background-color: black;
  border-radius: 7px 7px 5px 0px;
  padding: 10px;
  color: #fff;
  text-align: center;
  font-family: Archivo;
  font-size: 20px;
}

.help-container{
  width: 500px;

}

.help-container{
  width: 800px;
  margin: 100px auto;
  background: #fff;
  border-radius: 7px;
  box-shadow: 1px 2px 4px rgba(0,0,0,.3);
}

.help-perq{
  padding: 0px 20px 20px;
}

::-webkit-details-marker{
  float: right;
  margin-top: 3px;
}

.help-perq details{
  background: #f6f6f6;
  padding: 10px 20px;
  border-radius: 7px;
  margin-top: 20px;
  font-family: Archivo;
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer;
}

.help-perq details summary{
  outline: none;
}

.help-text {
  font-size: 15px;
}

.link-text {
  color: white;
}
