{% extends 'boodlesite\templates\base.html' %}
{% load static %}


{% block title %}My Store{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}

<div class="additem-container">
    <h1>{{ title }}</h1>
    
        <form action="" method="POST">
            {% csrf_token %}
            <div class="item-form-container">
                {{ form.as_p }}
            </div>
            <div class="button-space">
                <button type="button" class="btn btn-danger"><a href= "{% url 'storeid' request.user.id %}">Cancel</a></button>
                <button type="submit" class="btn btn-dark" name="Add Item"> Add Item </button>
            </div>
        </form>

</div>

{% endblock %}