{% extends 'boodlesite\templates\base.html' %}
{% load static %}


{% block title %}My Profile{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}

<div class="edit-profile-container">
    <h1>{{ title }}</h1>
    <div class="">
        <div class="profile-form-container">
            <div class="">EDIT PROFILE PICTURE
                <div class="profile-image-container"></div>
            </div>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="profile-submit-button" type="submit" name="Add Item"> Save Changes </button>
            </form>
        </div>    
        
    </div>
        <!--img goes here-->
</div>

{% endblock %}