{% extends 'boodlesite\templates\base.html' %}
{% load static %}


{% block title %}My Profile{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}

<div class="edit-profile-container">
    <h1>{{ title }}</h1>
    <div class="">
        <div class="profile-form-container">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
            <div class="btn-group">
                <button type="button" class="btn btn-danger"><a class="link-text" href= "{% url 'profileid' request.user.id %}">Cancel</a></button>
                <button class="btn profile-btn" type="submit" name="Add Item"> Save Changes </button>
            </div>
            </form>
        </div>    
        
    </div>
</div>

{% endblock %}