{% extends 'boodlesite\templates\base.html' %}
{% load static %}


{% block title %}Boodle Homepage{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}

<!-- banner  -->
<div id="container-fluid banner">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100"
                    src="https://images.unsplash.com/photo-1588345921523-c2dcdb7f1dcd?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070"
                    alt="First slide">
                    <div class="carousel-content">
                        <h3>— Hello, {{request.user}}. </h3>
                        <h1>Welcome to Boodle.</h1>
                        <p>Your ultimate online auctioning platform.</p>
                        <button class="btn profile-btn" onclick="scrollDown()">Shop now</button>
                    </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100"
                    src="https://images.unsplash.com/photo-1570747408017-38b4c5959378?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069"
                    alt="Second slide">
                    <div class="carousel-content">
                        
                        <h3>— Hello, {{request.user}}. </h3>
                        <h1>Welcome to Boodle.</h1>
                        <p>Your ultimate online auctioning platform.</p>
                        <button class="btn profile-btn" onclick="scrollDown()">Shop now</button>
                    </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100"
                    src="https://images.unsplash.com/photo-1546387903-6d82d96ccca6?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071"
                    alt="Third slide">
                    <div class="carousel-content">
                        
                        <h3>— Hello, {{request.user}}. </h3>
                        <h1>Welcome to Boodle.</h1>
                        <p>Your ultimate online auctioning platform.</p>
                        <button class="btn profile-btn"  onclick="scrollDown()">Shop now</button>
                    </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>


<div class="container-fluid about">
    <div class="row container-about">
        <div class="col-lg-5 col-md-6 about-left">
            <img src="https://images.unsplash.com/photo-1454117096348-e4abbeba002c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80">
        </div>
        <div class="col-lg-7 col-md-6 about-right">
            <div class="about-text">
                <h1> About Us </h1>

                <p>Boodle was founded by a group of four talented software engineers, who are currently Computer Science students
                    in Ateneo de Manila University. They believed they could change the status quo
                    of the e-commerce world—and with Boodle, they did. </p>
                <button class="btn profile-btn"><a href="{% url 'about' %}">Read more</a></button>
            </div>
        </div>
    </div>
</div>

<div class="header-container">
    <h1> Happening Right Now </h1>
</div>

<div class="event-container">
    {% if auctions_now %}
    {% for auction in auctions_now %}
    <div class="event">
        <img src="https://www.kurin.com/wp-content/uploads/placeholder-square.jpg">
        <div class="event-text">
            <a href="{% url 'auctionid' auction.auctionid %}">
                <h4>{{ auction.title }}</h4>
            </a>
            <p>{{ auction.info }}</p>
            <p><i>Ends on {{auction.auctionend}}</i></p>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p> No auctions currently happening.</p>
    {% endif %}
    </div>
</div>

<div class="header-container">
    <h1> Upcoming Events </h1>
</div>

<div class="event-container">
    {% if auctions_soon %}
    {% for auction in auctions_soon %}
    <div class="event">
        <img src="http://via.placeholder.com/640x360" alt="">

        <div class="event-text">
            <a href="{% url 'auctionid' auction.auctionid %}">
                <h3>{{ auction.title }}</h3>
            </a>
            <p>{{ auction.info }}</p>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p> No auctions happening soon.</p>
    {% endif %}

</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.event-container').slick({
            dots: true,
            infinite: false,
            speed: 300,
            slidesToShow: 4,
            slidesToScroll: 4,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        arrows: true,
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: true
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        arrows: true,

                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        arrows: true,

                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
                // You can unslick at a given breakpoint now by adding:
                // settings: "unslick"
                // instead of a settings object
            ]
        });
    });

    function scrollDown() {
    const element = document.getElementsByClassName("header-container");
    element[0].scrollIntoView();
    console.log('scroll')
    }

</script>

{% endblock %}