{% extends 'boodlesite\templates\base.html' %}
{% load static %}


{% block title %}Profile{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<div class="profile-container">
    <div class="username-section displayname profile-element">
        <h2>This is {{ displayname }}'s profile</h2>
    </div>
    <div class-"user-img userimage profile-element">
        <img src="https://minimaltoolkit.com/images/randomdata/female/64.jpg" alt="profile-image">
    </div>
    <div class "username profile-element">
        <h4> {{ username }} </h4>
    </div>
    <div class="btn-group profile-element" role="group" aria-label="Basic example">
        {% if storename %}
            <button type="button" class="btn btn-primary">
                <a href= "{% url 'storeid' storename.storeid %}" >
                My Store 
                </a>
            </button>
        {% else %}    
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createStoreModal"
        data-whatever="@mdo">Create Store</button>
        {% endif %}    

        <button type="button" class="btn btn-primary">Edit Profile</button>
    </div>
</div>

<!--Change auctions_now, auction to like favorites, favorite-->
<h2> Items {{displayname}} bid on </h2>
<div class="event-container">
    {% if auctionsOfUser %}
    {% for id in idsOfAuction %} 
        <div class="event">
            <img src="http://via.placeholder.com/640x360" alt="">
            <div class="event-text">
                <a href="{% url 'auctionid'  id.auctionid %}">
                    <h3>{{ id.title }}</h3>
                </a>
                <p>{{ id.auctionend }}</p>
            </div> 
            {% comment %} <form action="" method="POST">
                {% csrf_token %}
                <input type="submit" name="remove-auction" value="remove auction">
            </form> {% endcomment %}
                </div>
    {% endfor %}
    
    {% else %}
        <h3> No Favorites.</h3>
    {% endif %}
    </div>

</div>

<!-- modal -->
<div class="modal fade" id="createStoreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create {{displayname}}'s Store</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>

        <div class="modal-body">
        <form action="" method="POST">
            <div class="form-group createstore">
                {% csrf_token %}
                {{ createStoreForm.as_p }}
            </div>
        </div>

        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-secondary" name="Submit"> Submit </button>
        </div>
        </form>

    </div>
    </div>
</div>
{% endblock %}
