{% extends 'boodlesite\templates\base.html' %}
{% load static %}


{% block title %}Profile{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<div class="profile-container">
    <div class="username-section profile-element">
        <h2>This is user's profile</h2>
    </div>
    <div class-"user-img profile-element">
        <img src="https://minimaltoolkit.com/images/randomdata/female/64.jpg" alt="profile-image">
    </div>
    <div class="btn-group profile-element" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary">My Store</button>
        <button type="button" class="btn btn-primary">Edit Profile</button>
    </div>
</div>

<!--Change auctions_now, auction to like favorites, favorite-->
<div class="event-container">
    {% if auctions_now %}
    {% for auction in auctions_now %}
    <div class="event">
        {% comment %} <img src="http://via.placeholder.com/640x360" alt="">

        <div class="event-text">
            <a href="{% url 'auctionid' auction.auctionid %}">
                <h3>{{ auction.title }}</h3>
            </a>
            <p>{{ auction.info }}</p>
        </div> {% endcomment %}
    </div>
    {% endfor %}
    {% else %}
    <h3> No Favorites.</h3>
    {% endif %}
    </div>
</div>
{% endblock %}
