{% extends 'boodlesite\templates\base.html' %}
{% load static %}

{% block title %}Schedule Auction{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}

<div class="container">
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
    
        <button type="submit" name="savesauction">Save Auction</button>
    </form>
</div>

<!-- Form fields:
[Auction Title]
[Auction Description]
Drop down: [Select time for Auction]
Set Auction timer:
Start: 
Drop down: [Month] [Day] [Year] Time: [Hour] : [Minute] 
End:
Drop down: [Month] [Day] [Year] Time: [Hour] : [Minute] 
-->

{% endblock %}