{% extends 'boodlesite\templates\base.html' %}
{% load static %}

{% block title %}Schedule Auction{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}



<div class="container">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-space">
            {{ form.as_p }}
        </div>
        <div class="button-space">
          <button type="button" class="btn btn-danger"><a class="link-text" href= "{% url 'storeid' current_store.storeid %}">Cancel</a></button>
            <button type="submit" class="btn btn-dark" name="savesauction">Save Auction</button>
        </div>
    </form>
    
</div>

<input id="datetimepicker" type="text">

<!-- <script>
  $(function () {
    $("#id_auctionstart").datetimepicker();
  });

  $(function () {
    $("#id_auctionend").datetimepicker();
  });
</script> -->

<!-- Form fields:
[Auction Title]
[Auction Description]
Drop down: [Select time for Auction]
Set Auction timer:
Start: 
Drop down: [Month] [Day] [Year] Time: [Hour] : [Minute] 
End:
Drop down: [Month] [Day] [Year] Time: [Hour] : [Minute] 
-->

{% endblock %}