{% extends 'boodlesite\templates\base.html' %}
{% load static %}


{% block title %}My Store{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}

<div class="container">
    <div class = "storeform-header">
    <h1>{{ title }}</h1>
    </div>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-space">
            {{ form.as_p }}
        </div>
        <div class="button-space">
            <button type="button" class="btn btn-danger"><a class="link-text" href= "{% url 'storeid' current_store %}">Cancel</a></button>
            <button type="submit" class="btn btn-dark" name="Add Item"> Save Changes </button>
        </div>  
    </form>
</div>

{% endblock %}