{% extends 'boodlesite\templates\base.html' %}
{% load static %}


{% block title %}My Store{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}

<div class="container">
    <h1>{{ title }}</h1>
    <div class="row">
        <div class="col-lg-7 col-md-6">ITEM IMAGE CONTAINER
            <div class="item-image-container"></div>
        </div>
        <div class=" col-lg-5 col-md-6">ITEM FORM CONTAINER
            <div class="item-form-container">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                
            </div>
                <button type="submit" name="Add Item"> Save Changes </button>
            </form>
        </div>
    </div>
</div>

<!-- Form with fields:
[Item name]
[Item Description]
[Floor Price] -->

<!-- Image, if no image add image -->



{% endblock %}